[default]
host = {{ansible_hostname}}

{% for loggable in splunkforwarder_log_items %}
[monitor://{{loggable.source}}]
index = {{loggable.index}}
sourcetype = {{loggable.sourcetype}}
crcSalt = <SOURCE>

{% endfor %}
{% if splunkforwarder_log_items_custom is defined %}
{% for loggable in splunkforwarder_log_items_custom %}
[monitor://{{loggable.source}}]
index = {{loggable.index}}
sourcetype = {{loggable.sourcetype}}
crcSalt = <SOURCE>

{% endfor %}
{% endif %}
